<h1>Leave Your info: </h1>
<div class="cen">
        
<form [formGroup]="msg" (ngSubmit)="onSubmit()">
        
    <label>
        Name:
        <input type="name" formControlName="name">
        <div *ngIf="submmit && msg.controls.name.errors" class="error">
            <div *ngIf="msg.controls.name.errors.required">A Name is required.</div>
        </div>
    </label>

    <label>
        Email:
        <input type="email" formControlName="email">
        <div *ngIf="submmit && msg.controls.email.errors" class="error">
                <div *ngIf="msg.controls.email.errors.required">An Email is required.</div>
            </div>
    </label>

    <label>
        Phone:
        <input type="tel" formControlName="phone">
        <div *ngIf="submmit && msg.controls.phone.errors" class="error">
                <div *ngIf="msg.controls.phone.errors.required">A Phone number is required.</div>
            </div>
    </label>

    <input type="submit" value="Send Info" class="cta">
</form>

<div *ngIf="submmit && succses" class="rest">
    <strong> Name: </strong>
    <span>{{ msg.controls.name.value }}</span>
    <strong> Email: </strong>
    <span>{{ msg.controls.email.value }}</span>
    <strong> Phone Number: </strong>
    <span>{{ msg.controls.phone.value }}</span>
    <h3>Your info has been submited.</h3>
</div>
</div>