a{
    text-size-adjust: 50%;
    font-family: 'Verdana';
    color: white;
    display: inline-block;
    align-self: center;
}

label{
    display: block;
    align-self: center;
}

input{
    display: block;
    width: 50%;
    margin-top: 20px;
    padding: 1em;
    display: inline-block;
    align-self: center;
}

.error{
    
    background: rgb(172, 103, 0);
    padding: .5em;
    display: inline-block;
    font-size: .9em;
    margin-bottom: 20px;
    color: whitesmoke;
}

.cta{
    background:  #3E85E2;
    border: none;
    color: whitesmoke;

    text-transform: uppercase;
    border-radius: 4px;
    padding: 1em;
    
}
.cta:hover{
    background:  #78B1FD;
    border: none;
    color: whitesmoke;

    text-transform: uppercase;
    border-radius: 4px;
    padding: 1em;
}

.rest{
    margin-top: 50px;
}

strong {
    display: block;
}

span {
    margin-bottom: 20px;
    display: block;
}

div.cen{
    justify-content: center;
    text-align: center;
    align-content: center;
    align-self: center;
}