<footer>
    <div class="container.b">
            <ul>
                <li>
                    <img src="assets/images/sgn-w.png">
                </li>
                <li>
                    <a>H.L - @TheOnurD on twitter</a>  
                </li>
            </ul> 
    </div>
</footer>
