.container.b{
    position: absolute;
    bottom: 0;
}

footer{
    background: #3E85E2;
    width: 100%;
    align-self: center;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    display: inline-block;
    padding: .8em;
    justify-self: right;
}

img{
    display: inline-block;
    width: 65px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;   
}

li{
    float: left;
}