
<header>
    <div class = "container" id = "m">
        
        
    </div>
</header>

<form [formGroup]="img" (ngSubmit)="onSubmit()" >
    <div class="cen">

        <input type="submit" value="Load More" class="cta">   
    </div>
</form>
