header{
	background: #cfa9a9;
}
	@keyframes sizeadd {
		from {width: 80px; height: 80px;}
		to {width: 120px; height: 120px;}
    }
    
	@keyframes sizeadd-2 {
		from {width: 80px;}
		to {width: 120px;}
    }
		.cta{
			background:  #3E85E2;
			border: none;
			color: whitesmoke;
	
			text-transform: uppercase;
			border-radius: 4px;
			padding: 1em;
			
	}
	div.cen{
    justify-content: center;
    text-align: center;
    align-content: center;
    align-self: center;
}
	.cta:hover{
			background:  #78B1FD;
			border: none;
			color: whitesmoke;
	
			text-transform: uppercase;
			border-radius: 4px;
			padding: 1em;
	}
	div.main:hover {
		animation-name: sizeadd;
		width: 120px;
		height: 120px;
		animation-duration: 0.4s;
	}
	div.img:hover {
	transform: scale(1.2,1.2);
	}
	
	center.side{
	width: 500px; 
	height: 500px;
	}
    
img{
    width: 150px;
}
	