header{
    background: #3E85E2;
}
nav{
    justify-self: right;
}
.logo{
    display: inline-block;
    font-weight: bold;
    text-size-adjust: 100%;  
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;   
}

li{
    float: left;
}
a{
    display: inline-block;
    padding: .8em;
    text-transform: uppercase;
    font-size: .8em;
    color: whitesmoke;
    text-shadow: 1px 1px 1px rgb(16, 28, 95);

}
a:hover{
    background: #78B1FD;
    text-shadow: 2px 2px 4px rgb(16, 28, 95);
}
