<header>
    <div class="container">
        <a routerLink="/" class="logo">{{ appTitle }}</a>
        <nav>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/contect">Contact Me</a></li>
                <li><a routerLink="/photos">Photos</a></li>
            </ul>
        </nav>
    </div>
</header>

