/* You can add global styles to this file, and also import other style files */
body, html{
    height: 100%;
    margin: 0 auto;
    
}
@font-face {
    font-family: 'bar'; 
    src: url('assets/fonts/Mister Pixel Regular.otf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }

body{
    
    font-family: 'bar';
    font-size: 20px;
    background: #E2A13E;
}

a{
    text-decoration: none;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: .5em;
    display: grid;
    grid-template-columns: 30% auto;
}

section{
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}